<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GT</title>
    <link rel="stylesheet" href="/templates/assets/home.css">
</head>

<body>
    <div>
        <img class="logo" src="/templates/pics/logo.png">
        <button  type="button" onclick="location.href='/artists'">Discover Artists</button>
        <button type="button">Events</button>
        <button type="button">Localizations</button>
    </div>
</body>

</html>