<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GT</title>
    <link rel="stylesheet" href="/templates/assets/home.css">
</head>
<body>
    <div class="a">
        <div class="aa">
            <button>Home</button>
            <button onclick="location.href='/artists'">Artists</button>
            <button>Subscribe</button>
        </div>
    </div>
    <div class="b">
        <div class="ba">
            <div class="baa">
                <h1>
                    <span>Discover</span>
                    <span>The Legends</span>
                    <span>Behind The</span>
                    <span style="color: white;">Music 🔥</span>
                </h1>
            </div>
            <div class="bab">
                We bring you <strong>closer</strong> to the stories of artists who shaped generations.
                Dive into their journeys and uncover the passion that made them iconic!
            </div>
        </div>
        <div class="bb">
            <button onclick="location.href='/artists'">Discover Artists</button>
            <button onclick="location.href='/events'">Events</button>
            <button onclick="location.href='/localizations'">Localizations</button>
        </div>
    </div>
</body>
</html>
