<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GT</title>
    <link rel="stylesheet" href="/templates/assets/home.css">
</head>

<body>
    <div class="a"></div>
    <div class="b">
        <div class="ba">
            <div class="baa">
                <h1>
                    <span>discover</span>
                    <span>the legends</span>
                    <span>behind the</span>
                    <span style="color: #ffffff;">music🔥</span>
                </h1>
            </div>
            <div class="bab">
                We bring you <strong>closer</strong> to the stories of artists who shaped generations. Dive into their journeys and uncover the passion that made them iconic!
            </div>
        </div>
        <div class="bb">
            <button type="button" onclick="location.href='/artists'">Discover Artists</button>
            <button type="button">Events</button>
            <button type="button">Localizations</button>
        </div>
    </div>
</body>

</html>